<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Inicio Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Hora chilena centrada -->
  <div class="ion-text-center">
    <h3>{{ fechaActual }}</h3>
    <h3>{{ horaActual }}</h3>
  </div>

  <!-- Selector de día para filtrar asignaturas -->
  <ion-item>
    <ion-label>Día</ion-label>
    <ion-select [(ngModel)]="diaSeleccionado" (ionChange)="cambioDia()" placeholder="Selecciona un día">
      <ion-select-option *ngFor="let d of diasSemana" [value]="d.valor">
        {{ d.texto }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <h2>Hola, {{ nombre }}</h2>

  <ion-list *ngIf="asignaturas.length > 0; else sinAsignaturas">
    <ion-item *ngFor="let a of asignaturas" (click)="irALista(a)">
      {{ a.nombre }} - {{ a.seccion }} ({{ a.horario }}, {{ a.dia }})
    </ion-item>
  </ion-list>

  <ng-template #sinAsignaturas>
    <p>No tienes asignaturas asignadas aún.</p>
  </ng-template>

  <!-- Botón cerrar sesión abajo -->
  <div class="ion-text-center" style="margin-top: 50px;">
    <ion-button color="danger" expand="block" (click)="logout()">Cerrar sesión</ion-button>
  </div>

</ion-content>
