<ion-header>
  <ion-toolbar>
    <ion-title>Admin Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <h2>Bienvenido {{ nombre }}</h2>

  <ion-button expand="block" (click)="irAUsuarios()">
    Usuarios
  </ion-button>

  <div style="flex: 1 1 auto;"></div>

  <div class="ion-padding" style="margin-top: 50px; text-align: center;">
    <ion-button color="danger" expand="block" (click)="logout()">
      Cerrar sesión
    </ion-button>
  </div>
</ion-content>
