ion-content {
  --background: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.bienvenida-container {
  width: 100%;
}

ion-card {
  width: 100%;
  font-size: 1.2re
}

ion-card-subtitle {
  font-size: 1.3rem;
  color: #888;
}

ion-card-title {
  font-size: 2.4rem;
  font-weight: bold;
}

.bienvenida-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

ion-card {
  width: 90%;
  max-width: 400px;
}

qrcode {
  display: block;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.bienvenida-container {
  margin-bottom: 20px;
}

ion-list {
  margin-bottom: 20px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
