<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-button expand="block" (click)="irACrearAsignatura()">
    Crear Asignatura
  </ion-button>

  <ion-button expand="block" (click)="irAListarAsignaturas()">
    Listar Asignaturas
  </ion-button>

</ion-content>
